*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:0 5px;
}

.logo{
    width:100px;
   
}
.logo img{
    width:100%;
    height:100%;
}
.nav-ul{
    display:flex;
    padding:10px;
    list-style: none;
}
.nav-ul li a{
    text-decoration: none;
    color:black;
}
.nav-ul li a:hover{
   color:red;
   font-weight: bold;
}
.navbar ul li{
    margin:12px;
}
.hamburger-nav{
    background-color: transparent;
    border:none;
    cursor: pointer;
    display:none;
    padding:5px;
    margin:0 10px;
}
.nav-ul.show{
 display:flex;
 
}

@media screen and (max-width:768px) {
    .nav-ul{
        display:none;
        width:100%;
        flex-direction: column;
        align-items: center;
    
    }
    .hamburger-nav{
        display: flex;
    }
}
.slider {

    overflow: hidden;

}

.slider img {
    width: 20%;
    height: 400px;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slider 20s infinite;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}
.article{
    padding:20px;
    
}
.heading{
    text-align: center;
    color:maroon
  
}
.para{
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.paragraph{
    text-align:justify;
    font-size:larger;
    font-style: italic;
    padding:0 20px;
}

.image{
   height:300px;
   width:500px;
   margin:20px 0;
   box-shadow: 3px 3px 3px grey;
}
.image img{
    height:100%;
    width:100%;
}

.sites{
    text-decoration: none;
    color:red;
    font-weight:bold;
}
.sites:hover{
   color:mediumvioletred;
   font-weight: bolder;
   
}

   
#addTxt{
    width: 70vw;
height: 100px;
resize: none;
padding: 10px;
font-weight: bolder;
margin:20px 0;
border-radius: 8px;
border:none;
background-color: #FCD2D1;
box-shadow: 2px 2px 2px grey;
color:mediumvioletred;
outline:none;
}


.note-input{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#addBtn{
    color:white;
    background-color: black;
    padding:10px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}

.notes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment-box{
    margin:20px 0;
    width:60vw;
   padding:20px;
   font-size:0.7rem;
   border:1px solid;
   box-shadow: 2px 2px 2px grey;
   border-radius: 8px;
   word-wrap: break-word;
}
#mobileApps{
    border:none;
    font-size: 1rem;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.form{
    border:none;
    padding:30px;
    background-color:#FE8F8F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 2px grey;
    color:#FCD2D1;
    font-weight: bold;
}
.details{
    margin:10px 0;
}
.details p{
    color:red;
    font-weight: bold;
}
.name{
    width:40vw;
    padding:5px;
    background-color: #FFEDD3;
    border:none;
    border-radius: 8px;
}
.email{
    width:40vw;
    padding:5px;
    background-color: #FFEDD3;
    border:none;
    border-radius: 8px;
}
.college{
    width:40vw;
    padding:5px;
    background-color: #FFEDD3;
    border:none;
    border-radius: 8px;
}
.dose{
    width:40vw;
    background-color: #FFEDD3;
    padding: 5px;
    border:none;
    border-radius: 8px;
}
.favour{
    padding: 5px;
    background-color: #FFEDD3;
    border:none;
    border-radius: 8px;
}
#submit{
    padding:10px;
    background-color: black;
    color:white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    
}

@media screen and (max-width:768px) {
    .image{
        height:200px;
        width:250px;
        
        box-shadow: none;
    }
    .image img{
        width:100%;
        height: 100%;
    }
    .name{
        width:60vw;
        padding:5px;
        background-color: #FFEDD3;
        border:none;
        border-radius: 8px;
    }
    .email{
        width:60vw;
        padding:5px;
        background-color: #FFEDD3;
        border:none;
        border-radius: 8px;
    }
    .college{
        width:60vw;
        padding:5px;
        background-color: #FFEDD3;
        border:none;
        border-radius: 8px;
    }
    .dose{
        width:60vw;
        background-color: #FFEDD3;
        padding: 5px;
        border:none;
        border-radius: 8px;
    }
    .favour{
        padding: 5px;
        background-color: #FFEDD3;
        border:none;
        border-radius: 8px;
       
    }
    #submit{
        padding:10px;
        background-color: black;
        color:white;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        font-size:smaller;
        
    }
    
    
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 8vh;
    width:100%;
    
}